{% extends "_layout.html" %}
{% block heading %}Characters{% endblock %}
{% block content %}
      <div class="table-wrap">
        <table>
        <tr><th>Player</th><th>Name</th><th>Age</th><th>Rank</th><th>Clan</th><th>House</th><th>Trait</th><th>Trauma</th><th>Pneuma</th><th>Deftness</th><th>Handling</th><th>Tenacity</th><th>Wit</th><th>Perception</th><th>Composure</th><th>Pluck</th><th>Potential</th><th>Techniques</th><th>Edit</th><th>Delete</th></tr>
        {{ rows }}
        </table>
      </div>
{% endblock %}
