{% extends "_layout.html" %}
{% block heading %}Login{% endblock %}
{% block content %}
      <form method="post" action="/login">
        <label>Player: <select name="player_id" required>
{% for pl in players %}
          <option value="{{ pl['id'] }}">{{ pl['name'] }}</option>
{% endfor %}
        </select></label>
        <button type="submit">Login</button>
      </form>

      <h2>Enroll</h2>
      <form method="post" action="/enroll">
        <label>Name: <input type="text" name="name" required /></label>
        <label><input type="checkbox" name="is_hm" value="1" /> I am the Headmaster</label>
        <button type="submit">Enroll</button>
      </form>
{% endblock %}
