{% extends "_layout.html" %}
{% block heading %}Edit Technique for {{ character_name }}{% endblock %}
{% block content %}
      <form method="post" action="/technique/{{ id }}/edit">
        <label>Name: <input type="text" name="name" value="{{ name }}" required /></label>
        <label>Description: <input type="text" name="description" value="{{ description }}" required /></label>
        <label>Toll: <input type="number" name="toll" value="{{ toll }}" required /></label>
        <label>Type: <input type="text" name="type" value="{{ type }}" required /></label>
        <label>Category: <input type="text" name="category" value="{{ category }}" required /></label>
        <label>Effect: <input type="text" name="effect" value="{{ effect }}" required /></label>
        <label>Burst: <input type="text" name="burst" value="{{ burst }}" /></label>
        <label>Duration: <input type="text" name="duration" value="{{ duration }}" /></label>
        <button type="submit">Save</button>
        <a href="/character/{{ character_id }}/techniques" class="section-link">Cancel</a>
      </form>
{% endblock %}
